<div id="disqus_thread"></div>
<script type="text/javascript">

(function() {
    // Don't ever inject disqus on localhost--it creates unwanted discussions from 'localhost:1313' on your disqus account...
    if (window.location.hostname == "localhost") 
        return;

	var disqus_shortname = '{{ .Site.Params.disqusShortname }}';

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">Sorry, can't display Disqus comments now... you can <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=H%20@alxdwn">
Tweet</a> and let me know it's not working. I'll try fix it!
</a></noscript>


Sorry, can't display <span class="logo-disqus">Disqus</span> comments now... you can <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hi%20@alxdwn">
tweet</a> and let me know it's not working. I'll try fix it!
